@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
    font-family: 'Cronos';
    src:  url('../Media/Fonts/Song_Of_Coronos.woff2') format('woff2'),
          url('../Media/Fonts/Song_Of_Coronos.woff') format('woff');
}

body,p{
    margin: 0px;
}

:root {

    /* Colores */
    --amarillo: rgb(242,230,53);
    --naranja: rgb(242,171,39);
    --marron: rgb(217,141,48);
    --rojo: rgb(217,54,54);
    --rojo-oscuro: rgb(166,51,51);

    --naranja-tinte: rgb(242,171,39,.5);
    --rojo-oscuro-tinte: rgb(166,51,51,.5);

    /* Fuentes */

    --cronos:'Cronos';
    --medieval: 'MedievalSharp';

    /* Botones */

    --BTN_ST1_color-texto: rgb(255,255,255);
    --BTN_ST1_color-bg: var(--rojo);

    --BTN_ST2_color-texto: rgb(0,0,0);
    --BTN_ST2_color-bg: var(--amarillo);

    --BTN_PEQ_Padding: 20px 20px;
    --BTN_MED_Padding: 25px 25px;
    --BTN_GRA_Padding: 35px 30px;

    --BTN_PEQ_Tamano: 20px;
    --BTN_MED_Tamano: 25px;
    --BTN_GRA_Tamano: 30px;

    /* Input */
    --INP_TamanoFuente: 20px;

}

.HEA_HeaderStyle1 {
    width: 90vw;
    height: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.HEA_HeaderStyle1 img {
    width: 10vw;
    height: auto;
}

.HEA_HeaderStyle1 > div {
    cursor: pointer;
    padding: 0.5vw;
}

.HEA_HeaderStyle1 .perfil-usuario > img {
    width: 2vw;
    height: auto;
}

.HEA_HeaderStyle1 form > nav {
    width: 15vw;
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: black;
}

.HEA_HeaderStyle1 form > nav > a {
    padding: 2vh 0;
}

.FOO_FooterStyle1 {
    width: 90vw;
    height: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position:fixed;
    bottom: 0;
}
.FOO_FooterStyle1 .FOO_GroupNames p{
    color :white;
    font-size:100%;
}
a:link,a{
    color:white;
    text-decoration: none;
    transition: color 0.75s ease-out;
}
a:hover{
    color: var(--rojo);

}


.nav-usuario > a {
    color: white;
    text-decoration: none;
    transition: color 0.75s ease-out;
}

.nav-usuario > a:hover {
    color: var(--rojo);
}

.perfil-usuario > p {
    color: white;
    padding: 1vw;
    transition: color 0.75s ease-out;
}

.perfil-usuario > p:hover {
    color: var(--rojo);
}

h1,.titulo1{
    font-family: var(--cronos);
    font-size: 60px;
}

h2,.titulo2{
    font-family: var(--cronos);
    font-size: 50px;
}

h3,.titulo3{
    font-family: var(--cronos);
    font-size: 40px;
}

p, .texto_normal, a{
    font-family: var(--medieval);
    font-size: 20px;
}
.Crear-Ficha{
    background-image: url("Media/Imagenes/d&d_background-login-dashboard.jpg");
    background-size: cover;
    height: 100vh; 
    width: 100vw;
    display:flex;
    flex-direction:column;
}
.Crear_Form {
    flex-direction: column;
    overflow-y: scroll;
    height: 74%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.form_input:hover {
    box-shadow: 0px 0px 20px white;
}
.form_input {
    background-color: rgb(217,54,54,.7);
    backdrop-filter: blur(2px);
    /* box-shadow: 0px 0px 20px white; */
    transition: box-shadow 1s;
    height: 20vh;
    width: 70vw;
    padding-top: 5vh;
    padding-left: 5vh;
    margin-left: 4vw;
    padding-bottom: 4vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: var(--medieval);
    margin-bottom: 4vh;
    flex-wrap: wrap;
    column-gap: 5vw;
    row-gap: 2vh;
}
.input_butoni{
    width: 36vw;
    display:flex;
    justify-content: flex-end;
    align-self: flex-end;
}
#form4{
    height: 50vh;
    display:grid;
    text-align:center;
    grid-template-areas: "header header header header";
    grid-template-columns: 5vw 20vw 5vw 20vw;
}
#puntosres{
    
    grid-area: header;
}
/* Botones */

    /* Estandar */

    button{
        border-radius: 10px;
        transition: all 1s ease-in;
        position: relative;
    }

    button:hover{
        box-shadow: inset 0px 0px 20px 4px black;
        animation-name: BTN_Animacion;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        animation-direction: alternate;
        animation-timing-function: ease-out;
    }

    /* XXXEstandarXXX */

    /* Pequeños */

        /* Estilo 1 */

        .BTN_NoA_ST1_Pequeño{
            border: 0px;
            background: var(--BTN_ST1_color-bg);
            cursor: pointer;
            padding: var(--BTN_PEQ_Padding);
            font-family: var(--medieval);
            font-size: var(--BTN_PEQ_Tamano);
            color: var(--BTN_ST1_color-texto);
            width: 10vw;
            
        }

        .BTN_A_ST1_Pequeño{
            border: 0px;
            background: var(--BTN_ST1_color-bg);
            cursor: pointer;
            padding: var(--BTN_PEQ_Padding);
            width: 20px;
            height: 20px;
            border-radius: 50px;
        }

        .BTN_A_ST1_Pequeño a{
            font-family: var(--medieval);
            font-size: var(--BTN_PEQ_Tamano);
            text-decoration: none;
            color:var(--BTN_ST1_color-texto);
        }

        .BTN_A_ST1_Pequeño a i{
            color: black;
        }

        /* Estilo 2 */

        .BTN_NoA_ST2_Pequeño{
            border: 0px;
            background: var(--BTN_ST2_color-bg);
            cursor: pointer;
            padding: var(--BTN_PEQ_Padding);
            font-family: var(--medieval);
            font-size: 20px;
            color: var(--BTN_ST2_color-texto);
        }

        .BTN_A_ST2_Pequeño{
            border: 0px;
            background: var(--BTN_ST2_color-bg);
            cursor: pointer;
            padding: var(--BTN_PEQ_Padding);
            width: 20px;
            height: 20px;
            border-radius: 50px;
        }

        .BTN_A_ST2_Pequeño a{
            font-family: var(--medieval);
            font-size: var(--BTN_PEQ_Tamano);
            text-decoration: none;
            color:var(--BTN_ST2_color-texto);
        }
        
        .BTN_A_ST2_Pequeño a i{
            color:var(--BTN_ST2_color-texto);
        }

        /* XXXEstilo 2XXX */

    /* XXXPequeñoxXXX */

    /* Mediano */

        /* Estilo 1 */

        .BTN_NoA_ST1_Mediano{
            border: 0px;
            background: var(--BTN_ST1_color-bg);
            cursor: pointer;
            padding: var(--BTN_MED_Padding);
            font-family: var(--medieval);
            font-size: var(--BTN_MED_Tamano);
            color: var(--BTN_ST1_color-texto);
        }

        .BTN_A_ST1_Mediano{
            border: 0px;
            background: var(--BTN_ST1_color-bg);
            cursor: pointer;
            padding: var(--BTN_MED_Padding);
        }

        .BTN_A_ST1_Mediano a{
            font-family: var(--medieval);
            font-size: var(--BTN_MED_Tamano);
            text-decoration: none;
            color:var(--BTN_ST1_color-texto);
        }

        /* XXEstilo 1XXX */

        
        /* Estilo 2 */

        .BTN_NoA_ST2_Mediano{
            border: 0px;
            background: var(--BTN_ST2_color-bg);
            cursor: pointer;
            padding: var(--BTN_MED_Padding);
            font-family: var(--medieval);
            font-size: var(--BTN_MED_Tamano);
            color: var(--BTN_ST2_color-texto);
        }

        .BTN_A_ST2_Mediano{
            border: 0px;
            background: var(--BTN_ST2_color-bg);
            cursor: pointer;
            padding: var(--BTN_MED_Padding);
        }

        .BTN_A_ST2_Mediano a{
            font-family: var(--medieval);
            font-size: var(--BTN_MED_Tamano);
            text-decoration: none;
            color:var(--BTN_ST2_color-texto);
        }

        /* XXEstilo 2XXX */

    /* XXXMedioXXX */

    /* Grande */

        /* Estilo 1 */

        .BTN_NoA_ST1_Grande{
            border: 0px;
            background: var(--BTN_ST1_color-bg);
            cursor: pointer;
            padding: var(--BTN_GRA_Padding);
            font-family: var(--medieval);
            font-size: var(--BTN_GRA_Tamano);
            color: var(--BTN_ST1_color-texto);
        }

        .BTN_A_ST1_Grande{
            border: 0px;
            background: var(--BTN_ST1_color-bg);
            cursor: pointer;
            padding: var(--BTN_GRA_Padding);
        }

        .BTN_A_ST1_Grande a{
            font-family: var(--medieval);
            font-size: var(--BTN_GRA_Tamano);
            text-decoration: none;
            color:var(--BTN_ST1_color-texto);
        }

        /* XXXEstilo 1XXX */

        /* Estilo 2 */

        .BTN_NoA_ST2_Grande{
            border: 0px;
            background: var(--BTN_ST2_color-bg);
            cursor: pointer;
            padding: var(--BTN_GRA_Padding);
            font-family: var(--medieval);
            font-size: var(--BTN_GRA_Tamano);
            color: var(--BTN_ST2_color-texto);
        }

        .BTN_A_ST2_Grande{
            border: 0px;
            background: var(--BTN_ST2_color-bg);
            cursor: pointer;
            padding: var(--BTN_GRA_Padding);
        }

        .BTN_A_ST2_Grande a{
            font-family: var(--medieval);
            font-size: var(--BTN_GRA_Tamano);
            text-decoration: none;
            color:var(--BTN_ST2_color-texto);
        }

        /* XXXEstilo 2XXX */

    /* XXXGrandeXXX */

    /* Animaciones */

    @keyframes BTN_Animacion {
        0% { box-shadow: inset 0px 0px 20px 4px black; }
        50% { box-shadow: inset 0px 0px 25px 11px black; }
        100% { box-shadow: inset 0px 0px 20px 4px black; }
    }

    @keyframes ICO_Animation_Atras {
        100%{ transform:rotate(-360deg); }
    }

    @keyframes ICO_Animation_Delante {
        100%{ left: 50%; }
    }

    /* XXXAnimacionesXXX */

    /* Variaciones */

    .icono-animation-atras:hover{
        animation:none;
        box-shadow: none;
    }

    .icono-animation-atras:hover i{
        animation-name: ICO_Animation_Atras;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
    }

    .icono-animation-delante i{
        position: relative;
        visibility: hidden;
        
    }

    .icono-animation-delante i:after {
        content: "\f061";
        position: absolute;
        visibility: visible;
        left: 0;
    }

    .icono-animation-delante:hover{
        animation:none;
        box-shadow: none;
    }

    .icono-animation-delante:hover{
        animation:none;
        box-shadow: none;
    }

    .icono-animation-delante:hover i:after{
        animation-name: ICO_Animation_Delante;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;


    }



    /* XXXVariacionesXXX */

/* XXXBotonesXXX */

/* Inputs */

    input,select,textarea{
        background-color: var(--naranja);
        font-family: var(--medieval);
        font-size: var(--INP_TamanoFuente);
        width: 200px;
        height: 30px;
        box-shadow: inset 0px 0px 10px 5px var(--marron);
        border:0px;
        padding: 0px 20px;

    }

    input[type="submit"]{
        padding: 0;
    }

/* XXXInputsXXX */

/* Colores Textos */

.amarillo{
    color:var(--amarillo);
}

.naranja{
    color:var(--naranja);
}

.marron{
    color:var(--marron);
}

.rojo{
    color:var(--rojo);
}

.rojo_oscuro{
    color:var(--rojo-oscuro);
}

.blanco{
    color:white;
}

/* XXXColores TextosXXX */

.centrar-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-space-around {
    justify-content: space-around;
}

.home{
    background-color: var(--naranja);
    background-image: url('./Media/Imagenes/dd_background-login-dashboard.jpg');
    overflow: hidden;
}


/* login-dashboard css */

body.login-dashboard > section > nav {
    background-image: url("Media/Imagenes/d&d_background-login-dashboard.jpg");
    background-size: cover;
    height: 80vh; 
    width: 100vw;
}

body.login-dashboard .BTN_NoA_ST1_Grande{
    padding: 1em 2em;
}


.home label,.home a{
    font-size: 20px;
    color:white;
}

.home a{
    color: var(--amarillo);
}

.DIV_Home-Izquierda{
    width: 50vw;
    height: 100vh;
}

.DIV_Home-Izquierda>div:nth-child(1){
    width: 100%;
    height: 50%;
}

.DIV_Home-Izquierda>div:nth-child(2){
    width: 100%;
    height: 50%;
    background-color: var(--rojo-oscuro-tinte);
    text-align: center;
}

.DIV_Home-Izquierda>div:nth-child(2) p{
    width: 80%;
    color:white;
    font-size: 25px;
}

.DIV_Home-Derecha{
    width: 50vw;
}

.IMG_Home-imagen{
    max-width: 70%;
}

.DIV_Home-Login{
    text-align: center;
    height: 65vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--rojo-oscuro-tinte);
    border-radius: 25px;
}

.DIV_Home-Login>div{
    width: 80%;
}

.DIV_Home-Login>div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.DIV_Home-Login-enviar{
    gap:3vw;
}

.DIV_Home-Login-enviar input[type="submit"]{
    width: 150px;
    height: 70px;
    cursor: pointer;
}

.DIV_Home-Login-enviar input[type="submit"]:hover{
    box-shadow: 0px 0px 10px 0px white;
}

.I_Alternar-Visivilidad-Contraseña{
    cursor: pointer;
    color:black;
    position: absolute;
    right: 8px;
}

.position-relative{
    position: relative;
}

.DIV_ERR_Message{
    position: absolute;
    left: 50%;
    bottom: -10%;
    width: 50%;
    height: 20px;
    background-color: var(--rojo);
    transform: translate(-50%,50%);
    display: flex;
    justify-content: space-between;
    padding:20px;
    border-radius: 15px;
    animation: ANI_DIV_Message 1s ease-in 0s 1 forwards;
}

.DIV_ERR_Message >div{
    cursor: pointer;
}

@keyframes ANI_DIV_Message{
    0%{
        bottom: -10%;
    }100%{
        bottom: 10%;
    }
}

/* Nueva-Cuenta css */

.Nueva-Cuenta{
    background-image: url("Media/Imagenes/d&d_background-login-dashboard.jpg");
    background-size: cover;
}
.DIV_Nueva-Cuenta{
    width: 100vw;
    height: 90vh;
}

.DIV_Nueva-Cuenta-Formulario{
    text-align: center;
    height: 65vh;
    width: 30vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--rojo-oscuro-tinte);
    border-radius: 25px;
}
.Nueva-Cuenta  input[type="submit"]{
    margin-top: 50px;
    width: 300px;
    height: 75px;
}

.Nueva-Cuenta label{
    color: white;
    font-size: 20px;
}

/* Crear-Ficha css */

.Crear-Ficha{
    background-image: url("Media/Imagenes/d&d_background-login-dashboard.jpg");
    background-size: cover;
}

a i{
    color: black;
}

.hidden{
    display: none;
}