<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>

    <header id="#masthead" class="HEA_HeaderStyle1">

    </header>

    <h1>H1 Titulo 1     Lorem ipsum dolor sit amet.</h1>

    <h2>H2 Titulo 2     Lorem ipsum dolor sit amet.</h2>

    <h3>H3 Titulo 3     Lorem ipsum dolor sit amet.</h3>

    <p>P Texto Normal     Lorem ipsum dolor sit amet.</p>



    <button class="BTN_NoA_ST1_Pequeño">Boton Pequeño Estilo 1</button>

    <button class="BTN_A_ST1_Pequeño"><a href="">Boton Pequeño con a Estilo 1</a></button>
    
    <br><br>

    <button class="BTN_NoA_ST2_Pequeño">Boton Pequeño Estilo 2</button>

    <button class="BTN_A_ST2_Pequeño"><a href="">Boton Pequeño con a Estilo 2</a></button>

    <br><br>

    <button class="BTN_NoA_ST1_Mediano">Boton Mediano Estilo 1</button>

    <button class="BTN_A_ST1_Mediano"><a href="">Boton Mediano con a Estilo 1</a></button>

    <br><br>

    <button class="BTN_NoA_ST2_Mediano">Boton Mediano Estilo 2</button>

    <button class="BTN_A_ST2_Mediano"><a href="">Boton Mediano con a Estilo 2</a></button>

    <br><br>

    <button class="BTN_NoA_ST1_Grande">Boton Grande Estilo 1</button>

    <button class="BTN_A_ST1_Grande"><a href="">Boton Grande con a Estilo 1</a></button>

    <br><br>

    <button class="BTN_NoA_ST2_Grande">Boton Grande Estilo 2</button>

    <button class="BTN_A_ST2_Grande"><a href="">Boton Grande con a Estilo 2</a></button>

    <br><br>

    <div class="template_demostracion_container">
        <div class="template_demostration"><p>Lorem ipsum dolor sit amet.</p></div>
        <div class="template_demostration"><p>Lorem ipsum dolor sit amet.</p></div>
        <div class="template_demostration"><p>Lorem ipsum dolor sit amet.</p></div>
        <div class="template_demostration"><p>Lorem ipsum dolor sit amet.</p></div>
        <div class="template_demostration"><p>Lorem ipsum dolor sit amet.</p></div>
    </div>

    <br><br>

    <label>Boton de Atras:</label><button class="BTN_NoA_ST1_Pequeño icono-animation-atras"><i class="fas fa-undo-alt"></i></button><button class="BTN_NoA_ST2_Pequeño icono-animation-atras"><i class="fas fa-undo-alt"></i></button>
    <br><br>
    <label>Boton de Siguiente:</label><button class="BTN_NoA_ST1_Pequeño icono-animation-delante"><span></span><i class="fas fa-arrow-right"></i></button><button class="BTN_NoA_ST2_Pequeño icono-animation-delante"><i class="fas fa-arrow-right"></i></button>

    <br><br>

    <label for="">Input Texto</label> <input type="text" name="" id="">

    <br><br>

    <label for="">Input Select</label>
    <select name="" id="">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
    </select>

    <br><br>

    <label for="">Input Submit</label> <input type="submit" name="" id="">

    <br><br>

    <label for="">Input TextArea</label> <textarea name="" id="" cols="30" rows="10"></textarea>


</body>
</html>