<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header id="#masthead" class="HEA_HeaderStyle1">

    </header>

    <h1>H1 Titulo 1     Lorem ipsum dolor sit amet.</h1>

    <h2>H2 Titulo 2     Lorem ipsum dolor sit amet.</h2>

    <h3>H3 Titulo 3     Lorem ipsum dolor sit amet.</h3>

    <p>P Texto Normal     Lorem ipsum dolor sit amet.</p>

    <button class="BTN_NoA_ST1_Pequeño">Boton Pequeño</button>

    <button class="BTN_A_ST1_Pequeño"><a href="">Boton Pequeño con a</a></button>
    
    <br><br>

    <button class="BTN_NoA_ST2_Pequeño">Boton Mediano</button>

    <button class="BTN_A_ST2_Pequeño"><a href="">Boton Mediano con a</a></button>

    <br><br>

    <button class="BTN_NoA_ST2_Pequeño">Boton Mediano</button>

    <button class="BTN_A_ST2_Pequeño"><a href="">Boton Mediano con a</a></button>

    <br><br>

    <button class="BTN_NoA_ST2_Pequeño">Boton Grande</button>

    <button class="BTN_A_ST2_Pequeño"><a href="">Boton Grande con a</a></button>

    <br><br>

    <button class="BTN_NoA_ST2_Pequeño">Boton Grande</button>

    <button class="BTN_A_ST2_Pequeño"><a href="">Boton Grande con a</a></button>

    <br><br>

    <div class="template_demostracion_container">
        <div class="template_demostration"><p>Lorem ipsum dolor sit amet.</p></div>
        <div class="template_demostration"><p>Lorem ipsum dolor sit amet.</p></div>
        <div class="template_demostration"><p>Lorem ipsum dolor sit amet.</p></div>
        <div class="template_demostration"><p>Lorem ipsum dolor sit amet.</p></div>
        <div class="template_demostration"><p>Lorem ipsum dolor sit amet.</p></div>
    </div>

</body>
</html>